*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
header{
    background-color: #281915;
    height: 90px;
    width: 100%;
    color:white;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
}
.logo{
    display: flex;
    padding-top: 20px;
}
.logo img{
    margin: auto;
    width: 55px;
    height: 55px;
}
header ul li{
    margin: 10px;
    float: left;
    align-items: center;
}
header ul{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    list-style: none;
    justify-content: space-between;

}
.container{
    width: 100%;
    margin: auto ;
}
.banner{
    text-align: center;
    color: #3b301a;
    padding: 200px 0px 100px 0px;
    background-image: url(bg.jpg);
    background-size: cover
}
.banner p{
    font-size: 100px;
    font-family: Tangerine, fantasy;
    font-style: oblique;
    text-shadow: 10px 10px 15px rgb(3, 3, 3);
}
.banner h2{
    font-size: 20px;
    font-weight: normal;
    opacity: 08;
    font-family: Special Elite, fantasy;    
}
.judul-content {
    font-size: 28px;
    border-bottom: 2px solid #c9ad7b;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    color: #3f2106;
}
.menu{
    float: left;
    margin-right: 50px;
}
.menu p{
    margin-top: 20px;
    font-size: 20px;
    font-family: Special Elite, fantasy;
}
.container img{
    width: 240px;
    height: 288px;
}
.btn-reser{
    text-align: center;
    /* margin-top: 50px;
    padding-top: 480px; */
    font-family: Special Elite, fantasy; 
}
.btn {
    padding: 12px 24px;
    display: inline-block;
    color: #fff;
}
.reser{
    margin-top: 50px;
    padding-top: 350px;
}
.reser p{
    font-size: 20px;
    font-family: Special Elite, fantasy;
}
input, textarea{
    border: 1px solid #dee7ec;
    width: 400px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.submit {
    margin-right: 20px;
    font-size: 18px;
    color: #2b2116;
    background-color: #b48e5c;
    font-family: Special Elite, fantasy;
}
footer {
    background-color: #281915;
    color: #fff;
    padding: 40px;
    height: 120px;
}
.logo2{
    float: left;
    padding: 20px 40px;
}
.logo2 img{
    margin: auto;
    width: 115px;
    height: 115px;
}
.go-up{
    position: fixed;
    font-size: 60px;
    color: #3f2106;
    right: 35px;
    bottom: 35px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}


@media screen and (max-width: 600px) {
    body{
        width: 400px;
        overflow-x: hidden;
    }
    header{
        height: 60px;
        width: 90%;
        align-items: center;
    }
    .logo{
        display: flex;
        padding-bottom: 10px;
        padding-top: 12px;
        padding-left: 15px;
        padding-right: 80px;
        height: 35px;
        width: 300px;
        justify-content: space-between;
    }   
    .logo img{
        width: 35px;
        height: 35px;
    }
    header ul{
        position: absolute ;
        right: 27px;
        background-color: #281915;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 50vh;
        margin-right: 100px; 
        justify-content: space-evenly; 
        transform: translateX(100%);  
        transition: all 1s ;    
    }
    header ul.slide{
        transform: translateX(0);
    }
    header ul li{
        font-size: 20px;
    }

    /* burger bar */
    .menu-toggle{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 30px;
        height: 25px;
        width: 25px;
        justify-content: space-between;

    }
    .menu-toggle input{
        position: absolute;
        width: 25px;
        height: 25px;
        opacity: 0;
        cursor: pointer;
    }
    .menu-toggle span{
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 3px;
        background-color: white;
    }
    .menu-toggle input:checked ~ span{
        background-color: black;
    }

    .container{
    width: 480px;
    }
    .banner{
        width: 80%;
        height: 20%;
        background-size: cover;
        padding: 50px 50px 50px 60px;
        background-image: url(bg.jpg);
        margin-right: 1000px;
    }
    .banner p{
        font-size: 38px;
        font-family: Tangerine, fantasy;
        font-style: oblique;
        text-shadow: 2px 2px 3px rgb(3, 3, 3);
        width: 200px;
    }
    .banner h2{
        font-size: 10px;
        font-weight: normal;
        opacity: 08;
        font-family: Special Elite, fantasy;
        width: 200px;
    } 
    .judul-content{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 8px;
    }
    .menu{
        float: left;
        margin-right: 20px;
    }
    .container img{
        width: 140px;
        height: 170px;
        padding-left: 10px;
    }
    .menu p{
        padding-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 10px;
        font-family: Special Elite, fantasy;
    }
    .reser p{
        font-size: 12px;
        font-family: Special Elite, fantasy;
    }
    input, textarea{
        border: 1px solid #dee7ec;
        width: 200px;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 12px;
    }
    .submit {
        margin-right: 10px;
        font-size: 10px;
        color: #2b2116;
        background-color: #b48e5c;
        font-family: Special Elite, fantasy;
    }
    footer {
        background-color: #281915;
        color: #fff;
        padding: 20px;
        height: 60px;
    }
    .btn {
        padding: 6px 12px;
        display: inline-block;
        color: #fff;
    }
    .btn-reser h2{
        width: 300px;
        font-size: 10px;
    }
    .btn-reser a{
        margin-right: 50px;
        align-items: center;
        font-size: 8px;
    }
    .logo2{
        float: left;
        padding: 10px 20px;
        padding-bottom: 10px;
    }
    .logo2 img{
        margin: auto;
        width: 37px;
        height: 37px;
    }
    .go-up{
        position: fixed;
        font-size: 30px;
        color: #3f2106;
        padding-right: 230px;
        right: 27px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}